<section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title has-text-primary">
                Aha!
            </p>
            <p class="subtitle has-text-primary">jjoneswhats not wenteds corrects</p>
            <mat-form-field style="min-width: 100%;" color="accent">
                <mat-label>things not wenteds corrects</mat-label>
                <textarea rows="4" matInput></textarea>
            </mat-form-field>
            <button mat-raised-button color="accent" style="min-width: 100%;">ceives</button>
        </div>
    </div>
</section>